@page
@model NguyenThiMaiTrinh_PRN232_A01_FE.Pages.Tags.CreateModel
@{
    ViewData["Title"] = "Create Tag";
}

<h2>Create Tag</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="NewTag.TagName"></label>
        <input asp-for="NewTag.TagName" class="form-control" />
        <span asp-validation-for="NewTag.TagName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="NewTag.Note"></label>
        <textarea asp-for="NewTag.Note" class="form-control"></textarea>
        <span asp-validation-for="NewTag.Note" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-success">Create</button>
</form>
