@page
@model NguyenThiMaiTrinh_PRN232_A01_FE.Pages.NewsArticles.CreateModel
@{
    ViewData["Title"] = "Create News Article";
}

<h2>Create News Article</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="NewArticle.NewsTitle"></label>
        <input asp-for="NewArticle.NewsTitle" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NewArticle.Headline"></label>
        <input asp-for="NewArticle.Headline" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="NewArticle.NewsContent"></label>
        <textarea asp-for="NewArticle.NewsContent" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="NewArticle.CategoryId"></label>
        <select asp-for="NewArticle.CategoryId" class="form-control"
                asp-items="@(new SelectList(Model.Categories, "CategoryId", "CategoryName"))">
            <option value="">-- None --</option>
        </select>
        <span asp-validation-for="NewArticle.CategoryId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="tagSelect">Select Tags</label>
        <select asp-for="NewArticle.TagIds" asp-items="Model.TagSelectList" class="form-control" multiple></select>
    </div>

    <div class="form-check">
        <input asp-for="NewArticle.NewsStatus" class="form-check-input" />
        <label asp-for="NewArticle.NewsStatus" class="form-check-label"></label>
    </div>

    <button type="submit" class="btn btn-success mt-2">Create</button>
</form>
