@page
@model LePhuocDieuMy_PRN232_A01_FE.Pages.Auth.LogoutModel
@{
    ViewData["Title"] = "Logout";
}

<form method="post">
    <button type="submit" class="btn btn-danger">Confirm Logout</button>
</form>
